/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @font-face {
    font-family: 'Fonte';
    src: url('/fonte/agency-fb/AGENCYB.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

/* Body */
body {
  font-family: 'Fonte', sans-serif;
  color: #FFFFFF;
  background-color: #0d051c;
  padding-top: 56px;
}

/* Barra de Navegação */
.navbar {
  background-color: #0073cf;
  padding: 1rem;
  transition: background-color 0.3s ease;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar .navbar-logo img {
  height: 50px;
  transition: transform 0.3s;
}

.navbar .navbar-toggler {
  border: none;
}

.navbar .navbar-toggler:focus {
  outline: none;
}

.navbar .nav-item .nav-link {
  color: #FFFFFF;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

.navbar .nav-item .nav-link:hover {
  color: #010118;
}

.navbar .nav-item .nav-link.active {
  color: #000000;
  font-weight: bold;
}

.navbar.nav-scroll {
  background-color: #000000;
}

.nav-scroll .navbar-logo img {
  transform: scale(0.9);
}

.profile-actions {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  padding: 20px;
}

/* Ajustando os botões para ficarem com cor estática */
.profile-actions button,
.profile-actions a {
  background-color: #0073cf !important; /* Cor de fundo estática */
  border: 1px solid #0073cf !important;
  color: #FFFFFF !important; /* Cor do texto estática */
}

.profile-actions button:hover,
.profile-actions a:hover {
  background-color: #0073cf !important; /* Sem alteração no hover */
  color: #FFFFFF !important; /* Cor do texto não muda no hover */
}

#profile-pic-upload {
  background: none !important;
  border: 1px solid #0073cf !important;
  color: #FFFFFF !important;
}

/* Caixa de Seções */
.section-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: none;
  transition: transform 0.3s ease;
}

.section-box:hover {
  transform: scale(1.05);
  box-shadow: none;
}

.section-box .icon {
  font-size: 2.5rem;
  color: #0073cf;
}

.section-box .text {
  flex: 1;
  margin-left: 1rem;
  text-align: center;
}

.section-box .text h3 {
  font-size: 1.5rem;
  color: #FFFFFF;
}

.section-box .text p {
  color: #9D9D9D;
  font-size: 1rem;
}

/* Centralizando conteúdo */
.center-content,
.center-message,
.message-box,
.banner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center-content {
  height: 100vh;
}

.center-message {
  margin-top: 2rem;
}

.center-message h3 {
  font-size: 2rem;
  color: #FFFFFF;
}

.message-box {
  height: 300px;
  background-color: transparent;
  color: #FFFFFF;
  border-radius: 8px;
  box-shadow: none;
}

.banner-text {
  flex-direction: column;
  padding: 4rem 0;
  color: white;
}

.banner-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #FFFFFF;
}

.banner-text p {
  margin: 1rem 0;
  color: #9D9D9D;
  font-size: 1.125rem;
}

/* Animações */
.fadeInUp {
  animation: fadeInUp 0.6s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsividade */
@media (max-width: 992px) {
  .navbar .nav-item {
    text-align: center;
  }

  .section-box {
    flex-direction: column;
    align-items: center;
  }

  .section-box .icon {
    margin-bottom: 1rem;
  }

  .section-box .text {
    text-align: center;
  }

  .banner-text h2 {
    font-size: 2rem;
  }

  .banner img {
    max-width: 250px;
  }
}

@media (max-width: 768px) {
  .navbar .nav-item {
    text-align: center;
  }

  .section-box .text h3 {
    font-size: 1.25rem;
  }

  .banner-text h2 {
    font-size: 1.75rem;
  }

  .banner-text p {
    font-size: 0.9rem;
  }
}

/* Transições */
#content {
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.page-content {
  opacity: 0;
  transition: opacity 0.3s ease;
}

#content.fadeIn {
  opacity: 1;
}

#content.fadeOut {
  opacity: 0;
}
